@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: brittany;
  src:
    url(../public/fonts/BrittanySignature.woff) format("woff"),
    url(../public/fonts/BrittanySignature.ttf) format("truetype");
}

:root {
  --stone: #d7d7d7;
  --light-wheat: #efd6ac85;
  --wheat: #efd6ac;
  --border-radius: .5rem;
  --header-shadow: black 0px 3px 12px 0px;
  --logo-color: #788068;
  --light-logo: #788068ba;
  --dry-grass: #454900;
}

html {
  height: -webkit-fill-available;
}

body {
  /* color: rgb(5, 46, 22); */
  /* background-color: var(--stone-100); */
  overflow: hidden auto;
  font-family: "Playfair Display", serif;
}

img {
  object-fit: contain;
}

.hostBuddyTextRemove>span {
  display: none;
}

/* utilities */
.title {
  font-family: brittany;
}

.list_spacing>*+* {
  margin-top: 1rem;
}

.bg_primary {
  background: var(--logo-color);
}

/* Responsive design */
@media screen and (max-height: 600px) {
  .VerticalBtnPadding {
    padding-top: 14%;
    padding-bottom: 14%;
  }
}

@media screen and (max-width: 600px) {
  #embeddabuddy-container {
    width: 90vw !important;
    height: 75vh !important;
  }

}
