@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stone-100: rgb(245, 245, 244);
}

body {
  color: rgb(5, 46, 22);
  background-color: var(--stone-100);
  overflow: hidden auto;
}

.list_spacing > * + * {
  margin-top: 1rem;
}

.header_gradient {
  background: linear-gradient(black -100%, transparent 100%);
}
